[submodule "libspdlog"]
	path = libspdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libck"]
	path = libck
	url = https://github.com/concurrencykit/ck.git
[submodule "libmarl"]
	path = libmarl
	url = https://github.com/google/marl.git
